<div class="h-100 p-5 d-flex flex-column">
    <h2 class="h3 pb-3 text-center">Défis</h2>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="grid m-auto">
            <h3>Proposition</h3>
            <p>Nom :</p>
            <p>Défi proposé :</p>
            <ng-container *ngFor="let defi of currentDefiArray">
                <p>{{defi.name}}</p>
                <p>{{defi.description}}</p>
            </ng-container>
            <fa-icon class="carousel-controls m-5" (click)="defiCurrentPage === 0 ? null : changePage(false, false)"
                [icon]="faArrowLeft" [ngClass]="{'disabled': defiCurrentPage === 0}" class="fleches icon fa-2x">
            </fa-icon>

            <fa-icon class="carousel-controls m-5"
                (click)="defiCurrentPage + 1 === defiLength ? null : changePage(true, false)" [icon]="faArrowRight"
                [ngClass]="{'disabled': defiCurrentPage + 1 === defiLength}" class="fleches icon fa-2x">
            </fa-icon>
            <p class="pagination">{{defiCurrentPage + 1}}/{{defiLength}}</p>
        </div>

        <div class="grid m-auto">
            <h3>Réalisé</h3>
            <p>Nom :</p>
            <p>Défi proposé :</p>
            <ng-container *ngFor="let defi of currentEndedDefiArray">
                <p>{{defi.name}}</p>
                <p>{{defi.description}}</p>
            </ng-container>

            <fa-icon class="carousel-controls m-5" (click)="endedDefiCurrentPage === 0 ? null : changePage(false, true)"
                [icon]="faArrowLeft" [ngClass]="{'disabled': endedDefiCurrentPage === 0}" class="fleches icon fa-2x">
            </fa-icon>

            <fa-icon class="carousel-controls m-5"
                (click)="endedDefiCurrentPage + 1 === endedDefiLength ? null : changePage(true, true)"
                [icon]="faArrowRight" [ngClass]="{'disabled': endedDefiCurrentPage + 1 === endedDefiLength}"
                class="fleches icon fa-2x">
            </fa-icon>


            <p class="pagination">{{endedDefiCurrentPage + 1}}/{{endedDefiLength}}</p>
        </div>
    </div>
    <button class="btn p-3 m-4 align-self-center btn-secondary w-50" (click)="openDefiModal()">Proposer un
        défis</button>
</div>