.pole {
    position: absolute;
    top: 50;
    opacity: 0;
}

.cancel {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 2rem;
    cursor: pointer;
}

.pole.active {
    // opacity: 1;
    animation-delay: 0.3s;
    animation-duration: 0.8s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

.pole.disabled {
    animation-duration: 0.8s;
    animation-name: slideout;
    animation-fill-mode: forwards;
}


@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(150px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideout {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(-150px);
    }
}

.relative {
    position: relative;
    display: flex;
    width: 25vw;
    height: 50vh;
}

.carousel-controls {
    color: black;
    font-size: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: rows;

    &>* {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.no-member {
    grid-column: 1 / 4;
}